[user]
	name = rfrenchy
	email = 
[alias]
	br = branch
	st = status
	ch = checkout
	am = commit --amend --no-edit
[difftool]
	prompt = false
[core]
	excludesfile = /Users/ryanfrench/.gitignore
[push]
	default = current
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
