[alias]
	# View abbreviated SHA, description, and history graph of the latest 20 commits.
	l = log --pretty=oneline -n 20 --graph --abbrev-commit	
    st = status -s
    ch = checkout
    amend = commit --amend --reuse-message=HEAD
